*{
	margin: 0;
    padding: 0em;
}
div.container {
    width: 100%;
    height: 100%;
    height: 950px;
    width: 1900px;
    border: 1px solid gray;
}
#top{

	height: 30%;
	width: 100%;
	height: 200px;
	background-color: black; 	
}

h1.tittle{
	padding: 1em;
	text-align: center;
	color: white;
	font-size: 50px;
}

#middle{
	height: 50%;
	width: 100%;
	height: 694px;
	background-color: yellow;
}

div.middles{
	height: 100%;
	height: 694px;
	width: 15%;	
}
div #middle_left{
	float: left;
	background-color: gray;
}

div #middle_center{
	height: 100%;
	width: 70%;
	margin: 0 auto;
	background-color: white;
}

div #middle_right{
	float: right;
	background-color: gray;
}

#bottom{
	height: 20%;
	width: 100%;
	height: 65px;
	background-color: black;
}

#pic_and_name{
	height:20%; 
	width:100%;
	height: 180px;
	background-color: #D8D8D8;
}

div.pn{
	height: 100%;
	width: 100%;
}
img.pic{
	height: 100%;
	width: 100%;
}
#picture{
	width: 20%;
	float: left;
}
#name{
	width: 80%;
	float: right;
}
#nam{
	text-align: center;
	padding-top: 1em;
	font-size: 50px;
	font-family: fantasy;
}
#info{
	padding: 1em;
}

#contact{
	size: 20px;
}
p.text{
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
}