*{
	margin: 0;
    padding: 0em;
}
div.container {
    width: 100%;
    height: 100%;
    height: 950px;
    width: 1900px;
    border: 1px solid gray;
}
#top{

	height: 30%;
	width: 100%;
	height: 200px;
	background-color: black; 	
}

#tittle{
	padding: 1em;
	text-align: center;
	color: white;
	font-size: 50px;
}

#middle{
	height: 50%;
	width: 100%;
	height: 694px;
	background-color: yellow;
}

div.middles{
	height: 100%;
	height: 694px;
	width: 15%;	
}
div #middle_left{
	float: left;
	background-color: gray;
}

div #middle_center{
	height: 100%;
	width: 70%;
	margin: 0 auto;
	background-color: white;
	padding: 2em;
	padding-left: 2em;
	padding-right: 2em;
	

}

div #middle_right{
	float: right;
	background-color: gray;
}

#bottom{
	height: 20%;
	width: 100%;
	height: 65px;
	background-color: black;
}
p.tilt{

}
TEXTAREA.textos{

}
#enviar{
	float: right;
}